<a href="https://colab.research.google.com/github/savvyguru/TensorFlow/blob/master/IRIS(kaggle_csv).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**How to import CSV format data from Kaggle**

In [88]:
!pip install kaggle
import zipfile
import pandas as pd
import functools
import numpy as np
import tensorflow as tf

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.4.5.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)

**Upload API key json from Kaggle user profile:**


*   JSON contains your username and secret key
*   Sign into your Kaggle account to obtain the JSON

In [89]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle (1).json

{'kaggle.json': b'{"username":"richardpung","key":"6122d13dffb2ce6b762d3d1a3d0251f9"}'}

In [0]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

**Download Kaggle dataset**

In [91]:
!kaggle datasets download -d uciml/iris

iris.zip: Skipping, found more recently modified local copy (use --force to force download)

In [92]:
!ls

 files	   'kaggle (1).json'   sample_data
 iris.zip   kaggle.json        the-movies-dataset.zip

In [0]:
zip_ref = zipfile.ZipFile('iris.zip', 'r')
zip_ref.extractall('files')
zip_ref.close()
df = pd.read_csv('/content/files/Iris.csv')

**Observe Dataset**

In [94]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [0]:
df['Species'] = pd.Categorical(df['Species'])
df['Species'] = df.Species.cat.codes

In [96]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

**Reorder Data**

In [99]:
#remove id as it is not an input feature
df.pop('Id')
species = df.pop('Species')
dataset = tf.data.Dataset.from_tensor_slices((df.values, species.values))
#observe the post-processed dataset
for feat, targ in dataset.take(5):
  print ('Features: {}, Target: {}'.format(feat, targ))

Features: [5.1 3.5 1.4 0.2], Target: 0
Features: [4.9 3.  1.4 0.2], Target: 0
Features: [4.7 3.2 1.3 0.2], Target: 0
Features: [4.6 3.1 1.5 0.2], Target: 0
Features: [5.  3.6 1.4 0.2], Target: 0

In [0]:
train_dataset = dataset.shuffle(len(df)).batch(1)

**  Factors to consider when designing a Neural Network**

*   Number of neurons
*   Depth of network
*   Nature of problem: classification/regression

Both factors can lead to overfitting and underfitting

In [0]:
def get_compiled_model():
  model = tf.keras.Sequential([
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(1)
  ])

  model.compile(optimizer='adam',
                loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
                metrics=['accuracy'])
  return model

In [103]:
model = get_compiled_model()
model.fit(train_dataset, epochs=15)

Epoch 1/15
WARNING:tensorflow:Layer dense is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

150/150 [==============================] - 0s 1ms/step - loss: 2.3528 - accuracy: 0.3333
Epoch 2/15
150/150 [==============================] - 0s 963us/step - loss: -0.3803 - accuracy: 0.6267
Epoch 3/15
150/150 [==============================] - 0s 1ms/step - loss: -1.2456 - accuracy: 0.4133
Epoch 4/15
150/150 [==============================] - 0s 997us/step - loss: -1.8781 - accuracy: 0.3333
Epoch 5/15
150/150 [==============================] - 0s 980us/step - loss: -2.5342 - accuracy: 0.3333
Epoch 6/15
150/150 [==============================] - 0s 960us/step - loss: -3.2762 - accuracy: 0.3333
Epoch 7/15
150/150 [==============================] - 0s 999us/step - loss: -4.1275 - accuracy: 0.3333
Epoch 8/15
150/150 [==============================] - 0s 985us/step - loss: -5.0967 - accuracy: 0.3333
Epoch 9/15
150/150 [==============================] - 0s 962us/step - loss: -6.2041 - accuracy: 0.3333
Epoch 10/15
150/150 [==============================] - 0s 980us/step - loss: -7.3872 - accuracy: 0.3333
Epoch 11/15
150/150 [==============================] - 0s 955us/step - loss: -8.7150 - accuracy: 0.3333
Epoch 12/15
150/150 [==============================] - 0s 984us/step - loss: -10.2096 - accuracy: 0.3333
Epoch 13/15
150/150 [==============================] - 0s 988us/step - loss: -11.8008 - accuracy: 0.3533
Epoch 14/15
150/150 [==============================] - 0s 976us/step - loss: -13.5278 - accuracy: 0.3600
Epoch 15/15
150/150 [==============================] - 0s 982us/step - loss: -15.3590 - accuracy: 0.3800